<!DOCTYPE html>
<html>
  <head>
    <title>Coupons</title>
    <style>
      h1 {
        font-size:40px;
        font-family:monospace;
        text-align:center;
      }

      #Coupons {
        width: 100%;
        heigh: 360px;
        object-fit:cover;
      }
      h2 {
        font-size:32px;
        font-family:monospace;
        text-align:center;
      }
      h3{
        text-align:center;
      }
      p {
        font-weight:italic;
      }
      #container{
        max-width:720px;
        margin:0 auto 0 auto;
      }
    </style>
  </head>
  <body>
    <div id ="container">
      <h1>Coupons</h1>
      <img id = "Coupons" src = "https://coupons-website.vidyagms9634.repl.co/static/Coupons.jpg">
      <h2>About Coupons</h2>
      <p>Coupons can take various forms – they can be public codes for a broad target group or personalized, unique coupon codes assigned to specific customers. They can be distributed online or offline in many forms (code, barcode, QR). They can be used in both B2B and B2C marketing. Moreover, coupons can be personalized or carry specific conditions. Coupons can be a very versatile marketing tool used effectively throughout the customer journey. 
  Currently, coupon codes can take a digital, paper, or mixed format. As more customers expect digital coupons, traditional retailers who don’t deliver on that expectation, run a huge risk of losing customers. As highlighted by the COVID-19 crisis, the digitization of the retail landscape is inevitable. That does not mean that you cannot apply paper coupons in your funnel, but that digital coupons are simply a must, especially if your target group is tech-savvy. If you run a brick-and-mortar business, you can offer both or even better, make coupons available omnichannel and redeemable both offline and online.</p>
      <h3>Click button to add Coupons</h3>
        <div style="text-align:center">
        <button> Add Coupons</button>
        </div>
      </div>
  </body>
</html>